<ion-header>
  <ion-navbar color="secondary">
    <ion-title>({{jugador.nick}}) Juego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <div  >
    <h1 text-center >Maquina eligio : {{maquina}}</h1>
  </div>
   <div  >
    <h1 text-center>Elegiste: {{eligio}}</h1>
  </div>
  
   <div padding *ngIf="ia==0">
     <img src="assets/img/nada.jpg" height="100" width="100">
   </div>
   <div *ngIf="ia==1" padding>
     <img src="assets/img/piedra.jpg" height="100" width="100">
   </div>
   <div *ngIf="ia==2" padding>
     <img src="assets/img/papel.jpg" height="100" width="100">
   </div>
   <div *ngIf="ia==3" padding>
     <img src="assets/img/tijera.jpg" height="100" width="100">
   </div>
<div >
  <img src="assets/img/piedra.jpg" height="100" width="100" (click)="Jugar(1)" >
  <img src="assets/img/papel.jpg" height="100" width="100" (click)="Jugar(2)" >
  <img src="assets/img/tijera.jpg" height="100" width="100" (click)="Jugar(3)" >
  </div>


<div padding>
  <button ion-button round icon-left block (click)="Menu()">
    <ion-icon name='md-arrow-round-back' is-active="false"></ion-icon>Volver al Menu</button>
</div>
<div  >
    <h1 text-center>Elige una opcion</h1>
  </div>
</ion-content>