page-trivia {
    ion-content {
    background-image: url('../assets/img/fondo9.jpg') !important;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    h1
    {
        color: white
    }
    h2
    {
        color: white
    }
  }
}
