<ion-header>
  <ion-navbar color="secondary">
    <ion-title >Resultados</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>
    <div padding>
  <button ion-button round icon-left block (click)="Menu()">
    <ion-icon name='md-arrow-round-back' is-active="false"></ion-icon> Volver al Menu</button>
</div>
   <ion-item>
    <ion-label>Seleccione un metodo de Busqueda </ion-label>
    <ion-select  [(ngModel)]="seleccion">
      <ion-option value="Ganados" selected>Ganados</ion-option>
      <ion-option value="Empatados">Empatados</ion-option>
      <ion-option value="Perdidos">Perdidos</ion-option>
    </ion-select>
  </ion-item>

  <div *ngIf="seleccion=='Ganados'">
    <div *ngFor="let ganado of ganados; let i=index">
      <div *ngIf="i<5">      
        <ion-card>      
          <ion-card-header>
            {{ganado.nick}}
          </ion-card-header>  
          <ion-card-content>
            <p style='color:green'>{{ganado.estado}}</p>  
            <p style='color:green'>{{ganado.fecha}}</p>   
          </ion-card-content>  
        </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf="seleccion=='Empatados'">    
    <div *ngFor="let empatado of empatados; let i=index">
      <div *ngIf="i<5">      
        <ion-card>      
          <ion-card-header>
            {{empatado.nick}}
          </ion-card-header>  
          <ion-card-content>
            <p style='color:orange'>{{empatado.estado}}</p>  
            <p style='color:orange'>{{empatado.fecha}}</p> 
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf="seleccion=='Perdidos'">   
    <div *ngFor="let perdido of perdidos; let i=index">
      <div *ngIf="i<5">      
        <ion-card>      
          <ion-card-header>
            {{perdido.nick}}
          </ion-card-header>  
          <ion-card-content >
            <p style='color:red'>{{perdido.estado}}</p>  
            <p style='color:red'>{{perdido.fecha}}</p> 
          </ion-card-content> 
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>